* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: white;
  color: black;
  font-size: 16px;

  /* background-image: url("@assets/city-view.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  --primary: #b6cbd0;
  --secondary: #182424;
  --accent: #faa20f;
}

section {
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background-color: black;
  }
}
