header {
  --bor: 1px solid hsla(0, 0%, 100%, 0.4);
  position: fixed;
  width: 100%;
  /* width: 85vw; */
  height: 4.5em;
  /* margin: 1em 0; */
  backdrop-filter: blur(10px);
  top: 0;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  opacity: 1;
  animation: fade-in 1.6s ease;
  border: var(--bor);
  /* overflow: hidden; */
  justify-self: center;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header1 {
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em;
}

.New > button {
  cursor: pointer;
  color: white;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  padding: 0.5em 1em;
  background: none;
  border-radius: 1em;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  transition: 0.3s ease;
}

.New > button:active {
  transform: scale(0.98);
}

@keyframes expand {
  from {
    width: 0%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
